@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600&display=swap');

:root {
	--anaranjado: #cd9834;
    --blanco: #ecf4f1;
    --gris: #808080;
    --verde: #081b19;
    --negro: #070502;

}

/* TIPOGRAFÍA */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: var(--negro);
}



.slider-1 {
    background-image: url("../images/portada/portada-1.png");
    background-repeat: no-repeat;
    background-position-x: 53%;
    background-size: cover;
    max-width: 100%;

}

.slider-2 {
    background-image: url("../images/portada/portada-2.jpg");
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-size: cover;
    max-width: 100%;

}

.slider-3 {
    background-image: url("../images/portada/portada-3.png");
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-size: cover;
    max-width: 100%;

}


.slider-lanzamiento {
    background-image: url("../images/lanzamientos/tahoe-2021.jpg");
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-size: cover;
    max-width: 100%;
    }



/*
.slider-2 {
    background-image: url("../../Chevrolet/images/portada/portada-2.jpg");
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-size: cover;
    background-position: center bottom;

}


.slider-3 {
    background-image: url("../../Chevrolet/images/samantha-fortney-ddXo3DVwOoI-unsplash.jpg");
    background-repeat: no-repeat;
    background-position-x: 35%;
    background-size: cover;
    background-position: center center;

}
*/

.slider-100vh {
    height: 100vh;
}

h1, .h1 {
    
    font-size: 3.25rem; /*52 pixeles*/
    font-weight: 600;
}

h2, .h2 {
    font-size: 2rem; /*32 pixeles */
    font-weight: 800; /* grosor de letra... bajamos el de 600 */
}

h3, .h3 {
    font-size: 1.624rem; /*26 pixeles */
    font-weight: 600;
}

h4, .h4 {
    font-size: 1.25rem; /*20 pixeles */
    font-weight: 600;
}

h5, .h5 {
    font-size: 1rem; /*16 pixeles */
    font-weight: 600;
}

h6, .h6 {
    font-size: 0.75rem; /*12 pixeles */
    font-weight: 600;
}



.bg-opacidad {
    /* background-color: rgba(28, 16, 11, 0.60); */
    background-color: rgba(0, 0, 0, 0.3);
    
}

.border-card {
    border: 1px solid var(--anaranjado);
    border-radius: 0.75rem;
}

.border-custom {
    border: 1px solid var(--blanco);
    border-radius: 2rem;
}

.border-tr {
    border: 1px solid var(--blanco);
    border-top-right-radius: 3rem;
}

.border-bl {
    border: 1px solid var(--blanco);
    border-bottom-left-radius: 2.5rem;
}

.border-services {
    border: 1px solid var(--blanco);
    border-radius: 0.5rem 3rem 0.5rem 2rem;
}


/* @media (max-width: 768px) {
    .carousel-item-mine {
        position: relative;
        display: none;
        float: left;
        
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    }

} */


@media (max-width: 768px) {
    
    .d-md-block-mine {
      display: block !important;
    }
}

/* COLORES */
.blanco {
    color: var(--blanco);
}

.dorado {
    color: var(--anaranjado);
}

.gris {
    color: var(--gris)
}

.verde {
    color: var(--verde);
}

.negro {
    color: var(--negro);
}

.bg-blanco {
    background-color: var(--blanco);
}

.bg-dorado {
    background-color: var(--anaranjado);
}

.bg-gris {
    background-color: var(--gris)
}

.bg-verde {
    background-color: var(--verde);
}

.bg-negro {
    background-color: var(--negro);
}





/* OTROS */
.my-blur {
    -webkit-backdrop-filter: blur(1px);
    
    
    background-color: rgba(0, 0, 0, 0.);
    border-radius: 0px;
    
}
.blur-custom-letras {
    
    filter:opacity(1);
    filter: blur();
    filter: brightness(100%)
    
}

.blur-custom2 {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100px;
    height: 100px;
    background-color: #ccc;
  
  }



  /* ENLACES Y BOTONES */
a {
    color: var(--anaranjado);
}

a:hover {
    color: #dfb646;
}

#top a {
    color: var(--negro);
    text-decoration: none;
}

#top a:hover {
    color: #42341e;
    text-decoration: none;
}

.bg-dorado a, .bg-marron a {
    color: rgbA(236, 244, 241, 0.75)
}

.bg-dorado a:hover, .bg-marron a:hover {
    color: var(--blanco);
}

.btn-dorado-blanco {
    background-color: var(--anaranjado);
    color: var(--blanco);
    border: 1px solid var(--anaranjado);
}

.btn-dorado-blanco:hover {
    background-color: #ddaf59;
    color: var(--blanco);
    border: 1px solid var(--anaranjado);
}

.btn-blanco-negro {
    background-color: transparent;
    color: var(--negro);
    border: 1px solid var(--anaranjado);
}

.btn-blanco-negro:hover {
    background-color: var(--anaranjado);
    color: var(--blanco);
    border: 1px solid var(--anaranjado);
}

.btn-negro-blanco {
    background-color: var(--blanco);
    color: var(--negro);
    border: 1px solid var(--blanco);
}

.btn-negro-blanco:hover {
    background-color: var(--anaranjado);
    color: var(--blanco);
    border: 1px solid var(--anaranjado);
}

.btn-blanco-transparente {
    background-color: transparent;
    color: var(--blanco);
    border: 1px solid var(--blanco);
}

.btn-blanco-transparente:hover {
    background-color: transparent;
    color: var(--blanco);
    border: 1px solid var(--anaranjado);
}


.btn-dorado {
    background-color: var(--negro);
    color: var(--anaranjado);
    
    border: 1px solid var(--anaranjado);
}

.btn-dorado:hover {
    background-color: var(--anaranjado);
    color: var(--blanco);
    border: 1px solid var(--negro);
}

.btn-dorado-negro {
    background: transparent;
    color: var(--negro);
    border: 1px solid var(--anaranjado);
}

.btn-dorado-negro:hover {
    background-color: var(--anaranjado);
    color: var(--negro);
    border: 1px solid var(--anaranjado);
}

.btn-transparente {
    background-color: transparent;
    color: var(--blanco);
    
    border: 1px solid var(--blanco);
}

.btn-transparente:hover {
    background-color: var(--negro);
    color: var(--blanco);
    border: 1px solid var(--negro);
}


.btn-blanco {
    background-color: var(--negro);
    color: var(--blanco);
    
}

.btn-blanco:hover {
    background-color: var(--gris);
    color: var(--blanco);
    
}



/* 
.nav-item {
    padding-right: 1rem !important;
} */


@media (min-width: 768px) {
    .offset-md-n1 {
        margin-right: 8.333333%;
    }
}

@media (min-width: 360px) {
    .offset-n1 {
        margin-right: 8.333333%;
    }
}

.size-card-title {
    min-height: 70px;
}

.block {
    display: block
}


.pie-link {
    font-weight: 600;
    
    display: block;
    text-decoration: none;
    padding: 0;
    padding-bottom: 0.5rem;
}

.pie-link a {
    color: var(--gris);
}

.pie-link a:hover {
    color: var(--negro);
    text-decoration: none;
}

.d-relative {
    position: relative;
}

.d-absolute {
    position: absolute;
    bottom: 10px;
    right: 30px;
}